*{
    text-decoration: none;
}

:root {
    --black: #171321;
    --dkblue: #052136;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;

}

body{
    padding: 1px;
    margin: 0; 
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
}

:root{
    --buttonColors : rgb(247, 168, 23);
    --sectionBacks:rgb(59, 58, 58);
    --divsBacks:rgb(34, 34, 34)
}


nav{
    background-color: var(--plum);
    color: var(--white);
    width: 100%;
}

nav [class*="fa-"]{
    font-size: 200%;
    color: var(--aqua);
    }


nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

ul li a{
    color: var(--white);
    font-size: 20px;
    font-family: monospace;
}

nav li:first-child{
    flex-basis: 100%;
    text-align: center;
    align-content: center;
}

nav .name{ 
    font-family: var(--mono);
    font-size: 20px;
    padding-bottom: 10px;
}


.welcome{
    padding: 0;
    margin: 0;

  
    background: var(--sectionBacks);
}

.wrapper{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    
    align-items: center;
    margin: 0 auto; 
    color: white;
    font-family: 'Roboto','san-serif';
    padding: 9px;
    gap: 2%;
    background: linear-gradient(130deg, var(--divsBacks) 75%, rgb(245, 178, 55) 25%);
}

.wrapper h2,h3{
    color: inherit;
    font-family: inherit;
    margin: 5px;
}

.wrapper h1{
    color: orange;
    font-weight: 700;
    font-family: inherit;
    font-size: 32px;
    margin: 0;  
}

.spc_figure{
    display: block;
    padding: 0;
    margin: 0 auto 10px;
    width: 300px;
    height: 220px;
}

 .spc_figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text_container{
    order: 1;
    margin: 10px auto;
}

.hire{
    background: transparent;
    border: 1px solid rgb(255, 179, 39);
    padding: 12px;
    color: orange;
    text-align: center;
    font-family: inherit;
    margin: 10px 0 2px 0 ;
}

.about_me{
    padding: 0;
    margin: 0;
    width: 100%;
    
    background: var(--divsBacks);
}

.wrapper_about{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    color: white;
    font-family: 'Roboto','san-serif';
    padding: 9px;
    gap: 2%;
}

.about_me_text{
    width: 100%;
    padding: 4px;
    margin: 5px 0px;
    text-align: center;
}

.about_me_text button{
    background: rgb(247, 168, 23);
    border: 1px solid rgb(255, 179, 39);
    padding: 12px;
    color: inherit;
    text-align: center;
    font-family: inherit;
    margin: 10px 0 2px 0 ;
}

.wrapper_about h2{
    margin: 0;
   border-bottom: 2px solid orange;
   text-align: start;
   width: max-content;
}


.gradient{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 3px;
  }

  .spc_color{
    background: var(--dkblue);
      padding: 0;
      margin: 0;
      height: max-content;
  }

  .my_projects{
    padding: 4rem 1rem;
    padding: 10px;
  }

  .my_projects h1{
      color: var(--white);
      font-family: sans-serif;
      font-size: 2.5rem;
      margin-bottom: calc(2.5rem * 1.5);
      padding: 0;
  }

  .project_item, .reverse{
      display: flex;
     flex-flow: column wrap;
     
      margin: 20px 0;
      font-family: var(--mono)   
  }

  .project_item h2, .reverse h2{
      color: var(--white);
      font-family: var(--mono);
      font-size: 25px;
      margin: 0;
  }
 

  .project_item .text{
    
      background-color: var(--black);
      color: var(--white);
      padding: 5px;
  }

  .reverse .text{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
  }

  .project_item .text h3, .reverse .text h3{
     font-family: monospace;
     font-size: 20px;
     margin: 0;
  }

  

  .project_item .text ul, .reverse .text ul{
      display: flex;
      flex-flow: row wrap;
      gap: 2%;
      margin:10px 0;
      padding: 2px 5px;
  }

  .project_item .text ul li, .reverse .text ul li{
     list-style: none;
     margin: 0;
     padding: 0;
  }

  .project_item picture, .reverse picture{
      width: 80%;
      border-top: 1px solid var(--aqua);
      border-left: 1px solid var(--aqua);
      border-radius: 25px;
      padding: 10px;
      transition: all 2s;
  }

  .project_item picture:hover, .reverse picture:hover{
       width: 90%;
       cursor: pointer;
  }

  .project_item picture img, .reverse picture img{
      object-fit: cover;
      width: 95%;
      border-radius: 25px;
  }


.gallery{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0px auto; 
    background-color: var(--divsBacks);
    gap: 2%;
}

.gallery_wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.3%;
    margin: 0;
}

.gallery_wrapper > figure{
    margin: 0;
    padding: 0;
}

.gallery_wrapper > figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contenedor_principal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%; 
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.65);
}

.contenedor_interno{
    width: 700px;
    height: 600px;
    border: 2px #f3f3f3 solid;
    padding: 1px;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #f3f3f3;
    position: absolute;

}


.btn_cerrar {
    top: 0;
    right: 5px;
    font-size: 3rem;
    color: var(--aqua);
}

.img_activa{
    object-fit: cover;
    width: 100%;
}

.modal{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
   border-radius: 25px;
    background-color: var(--plum);
    padding: 7rem 0 3rem 1rem;
    color: var(--black);
}

.modal p{
    margin: 0 auto;
    
}

.modal picture{
    width: 50%;
    height: 200px;
    margin: 0;
}

.modal picture img{
    object-fit: cover;
    width: 70%;
    margin: 10px auto;
}

.modal .logos{
    width: 100%;
    display: flex;
    gap: 8%;
    margin: 0;
    width: 40%;
    align-items: center;
}

.modal [class*="fa-"]{
    font-size: 200%;
    color: var(--white);
    }



@media(min-width:550px){

    .project_item,.reverse{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: auto;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
    }

    .text{
        border-radius: 25px;
    }

   
    .project_item .text{
        order: 1;
        grid-column: 1/6;
        grid-row: 1/2;
        height: max-content;
    }

    .project_item picture{
        grid-column: 5/11;
        grid-row: 1/2;
        width: 100%; 
    }

    .project_item picture:hover, .reverse picture:hover{
        width: 105%;
        cursor: pointer;
   }

     .reverse .text{
        grid-column: 6/11;
        grid-row: 1/2;
        height: max-content;
        order: 2;
    }
    .reverse picture{
        order: 1;
        grid-column: 1/7;
        grid-row: 1/2;
         width: 100%;
      }

      .reverse .text ul{
          flex-flow: row wrap;
      }
    .gallery_wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .gallery_wrapper > figure:last-child{
        grid-column: span 2;
    }

    .gallery_wrapper > figure{
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .gallery_wrapper figure:last-child{
        height: 200px;
    }
    .gallery_wrapper{
        gap: 0.2rem;
    }
}


@media(min-width:800px){

    .text_container{
        width: 45%;
    }

    .wrapper{
        flex-flow: row wrap;
        justify-content: space-between;
    }
  .gallery_wrapper{
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(3,auto);
  }

  .span2_col{
      grid-column: span 2;
      grid-row: span 1;
  }

  .span2_row{
      grid-column: span 1;
      grid-row: span 2;
      height: 100%;
  }
  



  .about_me{
      height: 500px;
  }

  .wrapper_about{
      justify-content: center;
      align-items: center;
  }

  .about_me_text{
      width: 60%;
      font-size: 20px;
  }

  .gallery_wrapper figure:last-child{
    height: 300px;
}

}




