*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0; 
    height: max-content; 
}

:root{
    --buttonColors : rgb(247, 168, 23);
    --sectionBacks:rgb(59, 58, 58);
    --divsBacks:rgb(34, 34, 34)
}


.welcome{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    background: var(--sectionBacks);
}

.wrapper{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0 auto; 
    color: white;
    font-family: 'Roboto','san-serif';
    padding: 9px;
    gap: 2%;
    background: linear-gradient(130deg, var(--divsBacks) 75%, rgb(245, 178, 55) 25%);
}

.wrapper h2,h3{
    color: inherit;
    font-family: inherit;
    margin: 5px;
}

.wrapper h1{
    color: orange;
    font-weight: 700;
    font-family: inherit;
    font-size: 32px;
    margin: 0;  
}

.spc_figure{
    display: block;
    padding: 0;
    margin: 0 auto 10px;
    width: 300px;
    height: 220px;
}

 .spc_figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text_container{
    order: 1;
    margin: 10px auto;
}

.hire{
    background: transparent;
    border: 1px solid rgb(255, 179, 39);
    padding: 12px;
    color: orange;
    text-align: center;
    font-family: inherit;
    margin: 10px 0 2px 0 ;
}

.about_me{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 600px;
    background: var(--divsBacks);
}

.wrapper_about{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    color: white;
    font-family: 'Roboto','san-serif';
    padding: 9px;
    gap: 2%;
}

.about_me_text{
    width: 100%;
    padding: 4px;
    margin: 5px 0px;
    text-align: center;
}

.about_me_text button{
    background: rgb(247, 168, 23);
    border: 1px solid rgb(255, 179, 39);
    padding: 12px;
    color: inherit;
    text-align: center;
    font-family: inherit;
    margin: 10px 0 2px 0 ;
}

.wrapper_about h2{
    margin: 0;
   border-bottom: 2px solid orange;
   text-align: start;
   width: max-content;
}

.my_projects{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    color: white;
    background-color: var(--divsBacks);
    font-family: 'Roboto','san-serif';
    gap: 2%;
}

.my_projects >  h1{
    text-align: start;
    border-bottom: 2px solid var(--buttonColors);
    width: max-content;
    margin: 0;
    margin-bottom: 10px;
}

.my_projects > p{
    font-family: sans-serif;
    font-size: 16px;
}

.wrapper_projects{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
}

.wrapper_projects div:nth-child(1){
    background-color: rgb(28, 117, 206);
}

.wrapper_projects div:nth-child(2){
    background-color: rgb(122, 121, 121);
}
.wrapper_projects div:nth-child(3){
    background-color: rgb(55, 182, 140);
}

.project_item{
    grid-column: span 1;
    grid-row: span 1;
    height: 230px;
    background-color: red;
    margin: 3px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 9px;
    border-radius: 5% ;

}

.project_item > h1{
   font-size: 20px;
   font-family: inherit;
   margin-bottom: 20px;
}

.project_item > h2{
    font-family: inherit;
    font-size: 18px;
    text-align: start;
}

.project_item p{
    font-family: sans-serif;
}

.project_item > a{
    background-color: var(--buttonColors);
    color: inherit;
    padding: 10px;
    border-radius: 10%;
    margin: 5px 0px;
}

.gallery{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0px auto; 
    background-color: var(--divsBacks);
    gap: 2%;
}

.gallery_wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.3%;
    margin: 0;
}

.gallery_wrapper > figure{
    margin: 0;
    padding: 0;
}

.gallery_wrapper > figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contenedor_principal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.65);
}

.contenedor_interno{
    width: 600px;
    height: 400px;
    border: 2px #f3f3f3 solid;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #f3f3f3;
    position: absolute;

}


.btn_cerrar {
    top: 0;
    right: 5px;
    font-size: 2rem;
}

.img_activa{
    object-fit: cover;
    width: 100%;
}


@media(min-width:500px){
    .gallery_wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .gallery_wrapper > figure:last-child{
        grid-column: span 2;
    }

    .gallery_wrapper > figure{
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .gallery_wrapper figure:last-child{
        height: 200px;
    }

    .wrapper_projects{
        align-items: center;
        justify-content: center;
    }

    .wrapper_projects div{
        width: 80%;
        height: max-content;
        margin: 5px auto;
    }

    .project_item{
        padding: 18px;
        height: 340px;
        font-size: 20px;
    }

    .project_item h2,p{
        text-align: start;
    }

    .gallery_wrapper{
        gap: 0.2rem;
    }
}


@media(min-width:800px){

    .text_container{
        width: 45%;
    }

    .wrapper{
        flex-flow: row wrap;
        justify-content: space-between;
    }
  .gallery_wrapper{
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(3,auto);
  }

  .span2_col{
      grid-column: span 2;
      grid-row: span 1;
  }

  .span2_row{
      grid-column: span 1;
      grid-row: span 2;
      height: 100%;
  }
  

  .wrapper_projects{
     display: flex;
     gap: 2%;
  }

 

  .wrapper_projects div:last-child{
     
      margin: 0;
    
      font-size: 20px;
  }
  
  .project_item{
      height: 380px;
      
    text-align: center;
      margin: 0 1px;
  }

  .project_item > a{
      margin: auto 0;
  }

  .about_me{
      height: 500px;
  }

  .wrapper_about{
      justify-content: center;
      align-items: center;
  }

  .about_me_text{
      width: 60%;
      font-size: 20px;
  }

  .gallery_wrapper figure:last-child{
    height: 300px;
}

}



